@{
	ViewData["Title"] = "All Products";
}
<h1>@ViewData["Title"]</h1>

<style>
	.table img {
		width: 100px; /* Set the width to the desired size */
		height: auto; /* Maintain aspect ratio */
	}</style>

<p>
	<a asp-action="Create" asp-controller="Product">Create New</a>
</p>
<div class="table-responsive">
   
    <table class="table table-striped table-hover">
      
        <thead class="thead-dark">
           
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Purchase Price
                </th>
                <th>
                    Sell Price
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="productTableBody">
          
        </tbody>
    </table>
</div>
@section Scripts {
	<script src="~/js/homeIndex.js" type="module"></script>
}