@{
	ViewData["Title"] = "All Products";
}
<h1>@ViewData["Title"]</h1>
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				id
			</th>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Purchase Price
			</th>
			<th>
				Sell Price
			</th>
			<th>
				Stock
			</th>
			<th>
				Image
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="productTableBody">
	</tbody>
</table>
@section Scripts {
	<script src="~/js/homeIndex.js" type="module"></script>
}