@{
    ViewData["Title"] = "All products";
}

<h1>All products</h1>

<p>
    <a asp-action="Create" asp-controller="Product">Create New</a>
</p>
<table class="table">
    <thead id="productHeading">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Purchase Price
            </th>
            <th>
                Sell Price
            </th>
            <th>
                Stock
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="productTableBody">
    </tbody>
</table>

@section Scripts {
    <script src="~/js/homeIndex.js" type="module"></script>
}