@model ProductCategory

<h3>
    Are you sure you want to assign category @Model.Category.Name to product @Model.Product.Name?
</h3>

<form asp-action="CreateConfirmed" method="post" id="formCreateProductCategory">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="CategoryId" />
    <input type="submit" value="Assign" class="btn btn-primary" /> |
    <a asp-action="Index" asp-controller="Product">Cancel</a>
</form>
