@model AdvWebFinal.Models.Entities.ProductCategory

@{
    var product = Model!.Product;
    var cat = Model!.Category;
    ViewData["Title"] = "Please confirm removing category";
    var question = $"Are you sure you want to remove {cat!.Name} " +
        $"from {product!.Name}?";
}
<h2>@ViewData["Title"]</h2>
<h3>@question</h3>
<div>
    <form asp-action="Remove" asp-controller="ProductCategory" method="post">
        <input type="hidden" name="productId" value="@Model.ProductId" />
        <input type="hidden" name="categoryId" value="@Model.CategoryId" />
        <button type="submit" class="btn-danger">Confirm</button>
    </form>

</div>

@section Scripts {
  
}