@model AdvWebFinal.Models.Entities.Product

@{
    ViewData["Title"] = "Delete";

}



<h1>Are you sure you want to delete this?</h1>


<div>

    <h4 id="productHeading" class="card-header">Product</h4>
    <div class="card">
        <div class="card-body">
    <dl class="row">
        <dt class="col-sm-2">
            Id:
        </dt>
        <dd class="col-sm-10" id="productId">

        </dd>
        <dt class="col-sm-2">
            Name:
        </dt>
        <dd class="col-sm-10" id="Name">

        </dd>
        <dt class="col-sm-2">
            Description:
        </dt>
        <dd class="col-sm-10, text-color" id="Description">

        </dd>
        <dt class="col-sm-2">
            PurchasePrice
        </dt>
        <dd class="col-sm-10" id="PurchasePrice">

        </dd>
        <dt class="col-sm-2">
            SellPrice
        </dt>
        <dd class="col-sm-10" id="SellPrice">

        </dd>
        <dt class="col-sm-2">
            Stock
        </dt>
        <dd class="col-sm-10" id="Stock">

        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10" id="Image">

        </dd>
    </dl>
    </div>
    </div>

    <form asp-action="Delete"  id="formProductDelete">
        <input id="Id" name="Id" value="" type="hidden" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="home">Back to List</a>
    </form>
</div>

<style>
    text-color {
        color: #FF0000; /* Specify the color you want using hex, RGB, RGBA, HSL, HSLA, or color name */
    }
</style>

@section Scripts {
    <script src="~/js/productDelete.js" type="module" defer></script>
   
}