@{
    ViewData["Title"] = "All Products";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<style>
    .table img {
        max-width: 100px; /* Set the maximum width for the image */
        height: auto; /* Maintain aspect ratio */
    }
</style>

<p>
    <a asp-action="Create" asp-controller="Product" class="btn btn-primary mb-3">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="productTableBody">
            <!-- Table body content will be dynamically populated -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/homeIndex.js" type="module"></script>
}
