@{
    ViewData["Title"] = "All Products";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<style>
    .table img {
        max-width: 100px; /* Set the maximum width for the image */
        height: auto; /* Maintain aspect ratio */
    }
</style>

<p>
    <a asp-action="Create" asp-controller="Product" class="btn btn-primary mb-3">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Purchase Price
                </th>
                <th>
                    Sell Price
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="productTableBody">
          
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/productIndex.js" type="module"></script>
}
