@{
	ViewData["Title"] = "All Categories";
}
<h1>@ViewData["Title"]</h1>


<p>
	<a asp-action="Create" class="btn btn-success" asp-controller="Category">Create New</a>
	<a asp-action="Index" class="btn btn-primary" asp-controller="Product">View Products</a>
	
</p>
<div class="table-responsive">
	<table class="table table-striped table-responsive">
		<thead class="thead-dark">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="categoryTableBody">
	</tbody>
</table>
</div>



@section Scripts {
	<script src="~/js/categoryIndex.js" type="module"></script>
}
