@{
	ViewData["Title"] = "All Categories";
}
<h1>@ViewData["Title"]</h1>


<p>
	<a asp-action="Create" asp-controller="Category">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="categoryTableBody">
	</tbody>
</table>



@section Scripts {
	<script src="~/js/categoryIndex.js" type="module"></script>
}
